.number
  = "**** **** **** " + @customer_card.last4
.expiration_date
  .expiration_date__title
    有効期限
  .expiration_date__info
    = @exp_month + " / " + @exp_year
.destroy__function
  .destroy__function__link
  = link_to credit_card_path, method: :delete do
    削除する