* {
  box-sizing: border-box;
}



.productMain {
  background-color: #f8f8f8;
  height: 100%;
  width: 100%;
  .showMain {
    width: 90%;
    margin: 0 auto;
    .itemBox {
      background-color:$white;
      .itemBox__menu {
        ul {
          display: flex;
          justify-content: flex-end;
          li{
            padding-right: 10px;
            padding-left: 10px;
          }
          li+ li {
            border-left: 1px solid #333;
          }
        }
      }
      .itemBox__name {
        height: 28px;
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 15px;
        h2 {
          font-weight: bold;
        }
      }

      .itemBox__first-image {
        margin: 0 auto;
        text-align: center;
      }


      .itemBox__body {
        height: 200px;
        margin: 15px auto;
        width: 600px;
        &__images {
          margin-left: 10px;
        }
        ul {
          display: flex;
          width: 510px;
        }
        .img {
          margin: 5px 5px 0;
          list-style: none;
          object-fit: cover;
        }
      }
      .itemBox__price {
        height: 100px;
        margin: 15px auto;
        text-align: center;
        p.price {
          font-size: 37px;
          font-weight: bold;
        }
      }
      .itemBox__detail {
        height: 27px;
        line-height: 1.5;
        font-size: 18px;
        margin: 15px auto;
      }
      .table table {
        height: 426px;
        width: 95%;
        margin: 15px auto;
        font-size: 14px;
        tr td{
        border-collapse: collapse;
        border:1px solid gray;
        }
        .td--left {
          background-color: #EEEEEE;
          width: 25%;
          text-align: center;
        }
        .td--right {
          padding-left: 10px;
        }
        .category {
          text-decoration: none; 
          color: $thema_color_blue;
          cursor: pointer;
        }
        .region {
          color: $thema_color_blue;
          text-decoration: none;
          cursor: pointer;
        }       
      }
      .optionArea {
        height: 50px;
        width: 95%;
        margin: 15px auto;
        .optionalBtn.likeBtn{
          float: left;
          padding: 6px 10px;
          border-radius: 40px;
          color: $thema_color_blue;
          border: 1px solid #ffb340;
        }
        .optionalBtn {
          float: right;
          padding: 6px 10px;
          border-radius: 4px;
          color: #333;
          border: 1px solid #333;
        }
      }

      .btn {
        background-color: red;
        width: 95%;
        height: 50px;
        margin: 15px auto;
        line-height: 50px;
        text-align: center;
        cursor: pointer;
        position: relative;
        .buyBtn{
          font-size: 18px;
          color: $white;
          text-decoration: none;
          position: absolute;
          top: 0;
          left: 0;
          height:100%;
          width: 100%;
        }
      }
    }
    .commentBox {
      .comments {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        padding-inline-end: 40px;
        .commentlist {
          background-color: #3ccace;
          line-height: 36px;
          border: 1px solid #3ccace;
          color: fff;
          width: 60%;
          border-radius: 50px;
          margin: 10px auto;
          display: block;
          h4 {
            color: $white;
            font-size: 18px;
            text-align: center;
          }
        }
        &__comment {
          margin-top: 10px;
          margin-bottom: 10px;
          &__username {
            display: flex;
            a {
              font-weight: bold;
              position: relative;
              color: #333;
              text-decoration: none;
              justify-content: flex-start;
            }
            .seller_display {
              background-color: #eb5a46;
              border-radius: 5px;
              padding: 3px;
              justify-content: flex-start;
              margin-left: 10px;
              font-size: 14px;
              color: $white;
            }
          }
          &__commentbox {
            position: relative;
            padding: 16px;
            background: #eef0f4;
            border-radius: 15px;
            line-height: 1.5;
            word-break: break-all;
            margin-top: 10px;
            .comment_create_at {
              float: right;
              font-size: 12px;
              margin-top: 20px;
            }
          }
          &__commentbox:after {
            position: absolute;
            content: '';
            bottom: 100%;
            left: 20px;
            border: 10px solid transparent;
            border-bottom: 10px solid #eef0f4;
            width: 0;
            height: 0;
          }
        }
      }
      margin: 15px auto;
      background-color: $white;
      .form__text{
        text-align: center;
      }
      .notice {
        margin: 10px auto;
        font-size: 14px;
      }
      .commentBtn {
        background-color: $thema_color_blue;
        line-height: 48px;
        border: 1px solid $thema_color_blue;
        color: $white;
        width: 60%;
        font-size: 18px;
        border-radius: 100px;
        margin: 10px auto;
        display: block;
      }
    }
    .links {
      width: 700px;
      height: 24px;
      margin: 0 auto;
      display: flex;
      background-color: #f8f8f8;
      justify-content: space-between;
      color: $thema_color_blue;
      cursor: pointer;
      .goToLink{
        text-decoration: none;
        color:$thema_color_blue;
      }
    }
    .relatedItems {
      width: 700px;
      height: 328px;
      background-color: #f8f8f8;
      margin: 24px  auto 0;
      .seeMore {
        display: block;
        color: $thema_color_blue;
        margin-bottom: 8px;
        font-weight: bold;
        font-size: 22px;
        position: relative;
        cursor: pointer;
        text-decoration: none;
      }
      .productLists {
        height: 245px;
        margin-top: 32px;
        .productList {
          background-color: $white;
          height: 100%;
          width: calc(100% / 3);
          .productLink {
            text-decoration: none;
            .productList__img {
              width: 220px;
              height: 150px;
              overflow: hidden;
              z-index: 0;
              position: relative;
              margin: 0;
              .list__img {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              z-index: auto;
              height: 150px;
              object-fit: cover;
              }
            }
            .productList__body {
              background-color: $white;
              color: #333;
              padding: 16px;
              &__name {
                font-size: 16px;
                overflow: hidden;
                line-height: 1.5;
              }
              &__details {
                display: flex;
                justify-content: space-between;
                font-size: 16px;
                text-decoration: none;
                &__price {
                  font-weight: bold;
                }
              }
              p.productList {
                font-size: 10px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}
