* {
  box-sizing: border-box;
}


.buy{
  background-color: #fff;
  height: 100%;
  width: 510px;
  margin: 0 auto;

  .buy__title{
    height: 28px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    border-top: 1px solid rgb(240, 240, 240);
  }
  .buy__product{
    display: flex;
    justify-content: center;
    height: 30%;
    width: 100%;
    text-align: center;
    padding: 16px 24px;
    border-top: 1px solid rgb(240, 240, 240);
    .buy__product__name{
      margin-left: 15px;
    }
  }
  .buy__payment{
    height: 20%;
    text-align: center;
    padding: 16px 24px;
    font-size: 20px;
    border-top: 1px solid rgb(240, 240, 240);
  }
  .buy__confirmation{
    height: 20%;
    text-align: center;
    padding: 16px 24px;
    border-top: 1px solid rgb(240, 240, 240);
    .buy__confirmation__credit_cards{
      font-size: 16px;
      margin-bottom: 15px;

    }
    .buy__confirmation__btn{
      background-color: $thema_color_blue;
      line-height: 48px;
      border: 1px solid $thema_color_blue;
      color: $white;
      width: 60%;
      font-size: 18px;
      border-radius: 100px;
      margin: 10px auto;
      display: block;
    }
  }
}