.comment
  .comment__upper
    .comment__upper__username
      = comment.user.name
    .comment__upper__date
      = comment.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .comment__lower
    - if comment.content.present?
      %p.comment__lowercontent
        = comment.content